block variables
    - var name = "Hunter";

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' type='text/css' href='main.css')
    //script(src='main.js')
    title Title
  body
    h1 Hello, pug
    p #{name}